In [210]:
import pandas as pd
import numpy as np

1. Attached to this assignment in Moodle is a file called weather_2012.csv. Download this file and put it in the same directory as your notebook. Read the file into a dataset named “df”.

In [211]:
df = pd.read_csv('weather_2012.csv')

2. Write the code to display the first five rows of the dataset, the last five rows of the dataset, and a sample of five random rows from the dataset

In [212]:
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [213]:
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [214]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
1749,2012-03-13 21:00:00,1.1,-1.0,86,20,4.8,100.87,"Rain,Fog"
6261,2012-09-17 21:00:00,19.3,15.3,78,0,25.0,100.88,Mainly Clear
5716,2012-08-26 04:00:00,23.2,16.9,68,7,25.0,101.95,Clear
4367,2012-06-30 23:00:00,22.3,15.6,66,4,25.0,100.07,Mostly Cloudy
5503,2012-08-17 07:00:00,19.5,16.0,80,15,24.1,100.24,Mostly Cloudy

3. Write the code to display a list of all of the columns in the dataset.

In [215]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

4. The column names are unwieldy for our purposes. Rename them according to this list {date_time, temp_c, dew_point, relative_humidity, wind_speed, visibility, pressure, and weather}.  Keep a copy of the original columns so we can change them back at the end of our analysis.

In [216]:
original_columns = df.columns

In [217]:
col_names = [
    'date_time',
    'temp_c',
    'dew_point',
    'relative_humidity',
    'wind_speed',
    'visibility',
    'pressure',
    'weather'
]

In [218]:
df.columns = col_names

In [219]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

5. Most of the data in the dataset are numerical, write the code to get some standard statistics for each column (e.g. count, mean, etc.)

In [220]:
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

6. Write the code to add a column named temp_f to the dataset that contains the temperature from temp_c represented in Fahrenheit.

In [221]:
df['temp_f']=(df.temp_c*1.8)+32

In [222]:
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

7. Write the code to rearrange the columns in the dataset so temp_f appears immediately before temp_c.

In [223]:
temp_f = df['temp_f']
df = df.drop(columns=['temp_f'])
df.insert(loc=2, column='temp_f', value=temp_f)

In [224]:
df.head()

,date_time,temp_c,temp_f,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,28.76,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,28.76,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,28.76,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,29.30,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,29.30,-3.3,88,7,4.8,101.23,Fog

8. Write the code to display the data types of all the columns in the dataset

In [225]:
df.dtypes

date_time             object
temp_c               float64
temp_f               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

9. You’ll notice that the date_time column is not considered a date by Pandas.  Write the code to convert this column to a date/time column. Verify the conversion was successful.

In [226]:
df.date_time = pd.to_datetime(df.date_time)

In [227]:
df.dtypes

date_time            datetime64[ns]
temp_c                      float64
temp_f                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

10. Write the code to get the average temperature for each month and put it into a dataframe (not a series, you might need to do some conversion) named monthly_avg.

In [228]:
Months = df.date_time.dt.month
Months.to_csv('months.csv', index=False)
Months1 = pd.read_csv('months.csv')
Months1['date']=df.date_time
Months1.columns=['month','date_time']
Months1 = Months1[['date_time','month']]
Months1['temp_f']=df['temp_f']

In [229]:
Months1.head(5)

            date_time  month  temp_f
0 2012-01-01 00:00:00      1   28.76
1 2012-01-01 01:00:00      1   28.76
2 2012-01-01 02:00:00      1   28.76
3 2012-01-01 03:00:00      1   29.30
4 2012-01-01 04:00:00      1   29.30

In [230]:
monthly_avg = Months1['temp_f'].groupby(Months1['month']).mean()

In [231]:
monthly_avg.to_csv('monthly_avg.csv',index=False)

11. Write the code to promote the index for monthly_avg to a column called 'month'. This column will contain 1, 2, ..., 11, 12.

In [232]:
monthly_avg = pd.read_csv('monthly_avg.csv')

In [233]:
monthly_avg['month'] = monthly_avg.index+1

In [234]:
monthly_avg.head()

      temp_f  month
0  18.731290      1
1  24.395000      2
2  37.618226      3
3  44.616750      4
4  61.227984      5

12. Write the code to reorder the monthly_avg columns so they appear [‘month’, ‘temp_f’]

In [235]:
monthly_avg = monthly_avg[['month', 'temp_f']]

In [236]:
monthly_avg.head(12)

    month     temp_f
0       1  18.731290
1       2  24.395000
2       3  37.618226
3       4  44.616750
4       5  61.227984
5       6  68.241250
6       7  73.022097
7       8  72.102742
8       9  61.672000
9      10  51.718952
10     11  33.676500
11     12  26.048629

13. Write the code to rename the monthly_avg index so that it has an empty name (e.g. when you list the dataframe it doesn’t show an index name).

In [237]:
monthly_avg.index.rename('')

RangeIndex(start=0, stop=12, step=1, name='')

14. Write the code to change each entry in the monthly_avg.month column so it shows the name of the month instead of the number. You must do this by creating a function that accepts the month (number) and returns the month name which you call from a map/lambda expression. A dictionary is useful here.

In [238]:
def set_months(n):
    month_names = {
        1:"January",
        2:"February",
        3:"March",
        4:"April",
        5:"May",
        6:"June",
        7:"July",
        8:"August",
        9:"September",
        10:"October",
        11:"November",
        12:"December"
    }
    return month_names[n]

In [239]:
monthly_avg['month']=list(map(lambda x: set_months(x), monthly_avg['month']))

In [240]:
monthly_avg.head()

      month     temp_f
0   January  18.731290
1  February  24.395000
2     March  37.618226
3     April  44.616750
4       May  61.227984

15. Write the code to get the average temperature for each hour starting from 00:00:00 to 23:00:00 (you can leave this in a series – you are going to manipulate the index)

In [241]:
Hours1 = df.date_time
Hours1.to_csv('hours.csv', index=False)
Hours = pd.read_csv('hours.csv')
Hours['hour']=df.date_time.dt.hour
Hours['temp_f']=df.date_time.dt.hour
Hours['temp_f']=df['temp_f']

In [242]:
hourly_avg = Hours['temp_f'].groupby(Hours['hour']).mean()

In [243]:
hourly_avg

hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

16. Write the code to rename the hourly_avg index to ‘Hour’

In [244]:
hourly_avg.index.rename('Hour')

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23],
           dtype='int64', name='Hour')

17. Write the code to change each entry in the hourly_avg index so it shows the name of the standard time (not military time). You must do this by creating a function that accepts the time (string) and returns the time in the format (12:00AM, 1:00AM, 2:00AM, . . . 10:00PM, 11:00PM) which you call from a map/lambda expression. A dictionary is useful here.

In [245]:
def set_index(n):
    hour_names = {
        0:"12:00AM", 1:"1:00AM", 2:"2:00AM", 3:"3:00AM", 4:"4:00AM", 5:"5:00AM",
        6:"6:00AM", 7:"7:00AM", 8:"8:00AM", 9:"9:00AM", 10:"10:00AM", 11:"11:00AM",
        12:"12:00PM", 13:"1:00PM", 14:"2:00PM", 15:"3:00PM", 16:"4:00PM", 17:"5:00PM",
        18:"6:00PM", 19:"7:00PM", 20:"8:00PM", 21:"9:00PM", 22:"10:00PM", 23:"11:00PM"
    }
    return hour_names[n]

In [246]:
hourly_avg.index = list(map(lambda x: set_index(x), hourly_avg.index))

In [247]:
hourly_avg.index

Index(['12:00AM', '1:00AM', '2:00AM', '3:00AM', '4:00AM', '5:00AM', '6:00AM',
       '7:00AM', '8:00AM', '9:00AM', '10:00AM', '11:00AM', '12:00PM', '1:00PM',
       '2:00PM', '3:00PM', '4:00PM', '5:00PM', '6:00PM', '7:00PM', '8:00PM',
       '9:00PM', '10:00PM', '11:00PM'],
      dtype='object')

18. Write the code to get a count of the different weather designations in the weather column.

In [248]:
df.weather.groupby(df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

19. You will notice that when you look at the output from the previous code some of the rows in the weather column have multiple weather conditions (e.g. Rain, Snow, Fog)  Write the code to get a list that contains each unique value in the weather column. For example rain, snow and fog should only appear in the list once even though they are several rows.  A set is useful here.

In [249]:
weather_list = df['weather'].str.split(',').explode().unique().tolist()

In [250]:
weather_list

['Fog',
 'Freezing Drizzle',
 'Mostly Cloudy',
 'Cloudy',
 'Rain',
 'Rain Showers',
 'Mainly Clear',
 'Snow Showers',
 'Snow',
 'Clear',
 'Freezing Rain',
 'Moderate Snow',
 'Snow Grains',
 'Blowing Snow',
 'Freezing Fog',
 'Haze',
 'Drizzle',
 'Ice Pellets',
 'Thunderstorms',
 'Heavy Rain Showers',
 'Moderate Rain Showers',
 'Snow Pellets',
 'Moderate Rain']

20. Sort the output of your previous code alphabetically ascending.

In [251]:
weather_list.sort()

In [252]:
weather_list

['Blowing Snow',
 'Clear',
 'Cloudy',
 'Drizzle',
 'Fog',
 'Freezing Drizzle',
 'Freezing Fog',
 'Freezing Rain',
 'Haze',
 'Heavy Rain Showers',
 'Ice Pellets',
 'Mainly Clear',
 'Moderate Rain',
 'Moderate Rain Showers',
 'Moderate Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Snow',
 'Snow Grains',
 'Snow Pellets',
 'Snow Showers',
 'Thunderstorms']

21. Now that you are finished working with this dataset, you want to rename the columns with their original names. Don’t forget, you added a column for Fahrenheit, so that will need to be included in the new column names.

In [253]:
df.columns=[['Date/Time', 'Temp (C)', 'Temp (F)','Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']]

In [254]:
df.head()

,Date/Time,Temp (C),Temp (F),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,28.76,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,28.76,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,28.76,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,29.30,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,29.30,-3.3,88,7,4.8,101.23,Fog

22. Save your dataset to ‘weather_2012_new.csv’) – ensure your file does not contain the index column of the dataset.

In [255]:
df.to_csv('weather_2012_new.csv', index=False)

23. Save the monthly_avg and hourly_avg datasets so you can use them in the future without having to completely re-run this notebook.

In [256]:
monthly_avg.to_csv('monthly_avg.csv', index=False)
hourly_avg.to_csv('hourly_avg.csv', index=True)